        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
        }

        h1 {
            color: #333;
        }

        select {
            padding: 10px;
            margin: 10px 0;
            width: 200px;
            box-sizing: border-box;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            width: 220px;
            box-sizing: border-box;
        }

        @media (max-width: 768px) {
            select,
            button {
                width: 100%;
            }
        }
        #resultTable {
            display: none; /* Initially hide the table */
        }
		/* Style for the table */
		#resultTable {
			width: 100%;
			border-collapse: collapse;
			margin-top: 20px;
		}
		
		/* Style for table header */
		#resultTable th {
			background-color: #f2f2f2;
		}
		
		/* Style for table cells */
		#resultTable td, #resultTable th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
		
		/* Style for alternating row colors */
		#resultTable tr:nth-child(even) {
			background-color: #f9f9f9;
		}
		
		/* Style for the "No route found" message */
		#noRouteMessage {
			color: red;
			margin-top: 20px;
		}